<!DOCTYPE html>
<html>
  <head>
    <title>BroadwayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a> <%= link_to 'Broadway', root_path, class: 'navbar-brand'%> </a>

        <div class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
            </li>
          <% else %>
            <li class="mr-3">
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
            
            <li> 
              <%= link_to 'Log in', new_user_registration_path %> 
            </li>
          <% end %>
        </div>
      </nav>
    </header>

    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li> <%= link_to 'Add play', new_play_path %> </li>
      <% end %>
    </ul>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
