<!DOCTYPE html>
<html>
  <head>
    <title>BroadwayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a> <%= link_to 'Broadway', root_path, class: 'navbar-brand' %> </a>
          <% if user_signed_in? %>

            <div class="dropdown mr-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">
                Categories
                <span class="caret"> </span>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% Category.all.each do |category| %>
                  <a class="<% 'dropdown-item active' if params[:category] == category.name %>">
                    <%= link_to category.name, plays_path(category:category.name), class: 'dropdown-item' %>
                  </a>
                <% end %>
              </div>
            </div>

            <a> <%= link_to 'Add play', new_play_path, class: 'navbar-brand' %> </a>
          <% end %>

        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
            </li>
          <% else %>
            <li class="mr-3">
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
            
            <li> 
              <%= link_to 'Log in', new_user_session_path %> 
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
